version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:10000"
    environment:
      - DATABASE_URL=sqlite:///app.db
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "4173:4173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    depends_on:
      - backend
